body {
    font-family: "Open Sans", sans-serif ;
}
section{
  padding: 40px 0;
}
#topbar .contact-info i {
    font-style: normal;
}
.navbar-nav a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
   
  }
  header{

    background-size: cover;
    background-position: center center;
    background-image: url(../imgs/hero-bg.jpg);
    height: 75vh;
    width: 100%;

  }
  .header-content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #000;
  }
  .header-content h1 span{
    color: rgb(0, 68, 255)
  }
.head a span{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.about h2 span{
    color:rgb(0, 51, 255);
}
.pro .skill{
    font-size: 15px;
}
 .pro .skill .val {
    float: right;
    font-style: normal;
    font-size: 15px;
 }
 /* .icon i{
  width:50px;
  height: 50px;
  background-color: blue;
  
 } */

 .team span{
  color:rgb(0, 68, 255);
 }

 .progress-bar{
  height: 10px;
 }

 .progress{
  height: 10px;
 }
 .review-cont{
  position: relative;
  padding: 30px 30px 25px 30px;
 }
 .iconrev{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left:50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -28px;
  position: absolute;
  border: 5px solid white;

 }


 #contact h2{


  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  
  }
  
  #contact h3{
  
  
  font-size: 32px;
  font-weight: 700;
  }
  .ICON
  {
  
  border: dotted  black;
  
  
  }
  
  
  .contact .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 20px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  }
  
  .contact .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  }
  
  .contact .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  }
  
  ::after, ::before {
  box-sizing: border-box;
  }
  
  .contact .icon-box a{
  
  
  color: black;
  text-decoration: none;
  }
  
  
  
  
  .contact{
  
  border: none;
  }
  
  
  .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  
  
  #contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
  }
  
  form {
  display: block;
  margin-top: 0em;
  }
  
  
  #contact .php-email-form .form-group {
  margin-bottom: 20px;
  }
  
  #contact .php-email-form input {
  padding: 10px 15px;
  }
  
  #contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  }
  
  .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  textarea.form-control {
  min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
  }
  
  #contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  }
  
  
  #contact  button{
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  }
  .clients{
    background-color: #F6F9FE;
    /* padding: 20px; */
    margin-bottom: 40px;
    margin-top: 40px;
}

.clients img{
    width: 100px;
}

/* Service Starts */
.services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

::after, ::before {
  box-sizing: border-box;
}

.services .icon-box a{


  color: black;
  text-decoration: none;
}
/* Testimonial Starts */
.testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/testimonials-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.testimonial .carousel-item p {
  font-style: italic;
}

.carousel-inner img {
  width: 10% !important;
}

.rounded-circle {
  width: 40%;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
}

/* Testimonial Ends */

/* Portfolio Starts */
.gallery {
  background-color: var(--extra-light-grey-color);
  padding: 5px 0;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  --gap: 1.2rem;
  gap: 1.2rem;
  height: 78.8125rem;
}

.photo-gallery picture {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  border: 4px solid #fff;
  overflow: hidden;
  position: relative;
}

.photo-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .photo-gallery {
    height: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .photo-gallery {
    height: 845px;
  }
}

@media screen and (max-width: 992px) {
  .photo-gallery {
    height: 1600px;
  }

  .photo-gallery picture {
    width: calc(calc(100% - var(--gap)) / 2);
  }

  .gallery .photo-gallery .picture1 {
    order: 1;
  }  
  .gallery .photo-gallery .picture3 {
    order: 2;
  }  
  .gallery .photo-gallery .picture4 {
    order: 3;
  }  
  .gallery .photo-gallery .picture7 {
    order: 4;
  }  
  .gallery .photo-gallery .picture2 {
    order: 5;
  }
  .gallery .photo-gallery .picture5 {
    order: 6;
  }
  .gallery .photo-gallery .picture6 {
    order: 7;
  }
}

/* Portfolio Ends */
/* Pricing Starts */
.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
  width: 50%;
}

.card {
  border: none;
}

.card-header {
  border: none;
}

.card-footer {
  border: none;
}

.na {
  text-decoration: line-through;
}

.pricing .card {
  overflow: hidden;
}

.pricing .advanced {
  width: 200px;
  z-index: 1;
  transform: rotate(45deg);
  top: 18px;
  right: -68px;
}

/* Pricing Ends */
/* FAQ Starts */
.faq h1 {
  font-size: 2rem;
}
.faq .lead{
  font-size: 1rem;
}
.faq{
  background-color: #f6f9fe;
}
.top{
  align-items: center;
}
.list-group-item {
  background-color: transparent;}
/* FAQ Ends */



/* News Ends */

/* Footer-Top Starts */
.social-links span {
  text-align: center;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
}


/* Footer-Top Ends */

/* Footer-Bottom Starts */
.footer-bottom {
  background-color: #F1F6FE;
}

/* Footer-Bottom Ends */